/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#title {
    text-align: center;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.sport-container {
    background-color: #d4d4c8;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
}
h2 {
    margin-bottom: 30px;
}
h3{
    margin-bottom: 1%;
}
p {
    text-align: justify;
    line-height: 1.5;
    text-decoration: solid;
    text-decoration: black;
}        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 201.4px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(87, 208, 230);
    text-align: left;
    
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  div.dropdown-content {
    display: none;
    position: absolute;
    background-color: #797070;
    min-width: 160px;
    
   
  }
  
  .dropdown-content a {
    color: black;
    padding:  25px  186.8px;
  
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #25a4c4;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding: 12px ;
  }
  div.contentbox{
    backdrop-filter: 10px;
  }*/